# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
reve-gui-config.json*

node_modules
dist
dist-ssr
temp
reve.db
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/resources*
/models*
src-tauri/resources*
src-tauri/models*
yarn.lock
Cargo.lock
